---
permalink: /contact/merci.html
---
{% set currentpage = 'contact' %}
{% set pagedata = pages[currentpage] %}
{% extends "layouts/base.njk" %}

{% block main %}
<main>
    {% include "thankyou.njk" %}
</main>
{% endblock %}



      

