---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.pages %}
        {% if page.url == '/' %}{% set pageurl=page.url%}{% else %}{% set pageurl=page.url+'/' %}{% endif %}
        <url>
            <loc>{{ general.site.url }}{{ pageurl | url }}</loc>
            <lastmod>{{ generated }}</lastmod>
        </url>
    {% endfor %}
</urlset>