
        
{% if field.type == 'texte mono-ligne' %}
<div class="mb-3">
    <input type="text" class="form-control" id="{{field.name}}"  name="{{field.name}}" placeholder="{{field.label}}" {% if field.isrequired %}required{% endif %}>
    <div class="invalid-feedback">Cette information est obligatoire pour pouvoir traiter votre demande</div>
</div>
{% endif %}
{% if field.type == 'texte multi-lignes' %}
<div class="mb-3">
  <textarea class="form-control" placeholder="{{field.label}}" id="{{field.name}}"  id="{{field.name}}" style="height: 100px" {% if field.isrequired %}required{% endif %}></textarea>
  <div class="invalid-feedback">Cette information est obligatoire pour pouvoir traiter votre demande</div>
</div>
{% endif %}
{% if field.type == 'email' %}
<div class="mb-3">
    <input type="email" class="form-control" id="{{field.name}}"  name="{{field.name}}" placeholder="{{field.label}}" {% if field.isrequired %}required{% endif %}>
    <div class="invalid-feedback">Veuillez renseigner une adresse email valide</div>
</div>

{% endif %}
{% if field.type == 'telephone' %}
<div class="mb-3">
    <input type="tel" class="form-control" id="{{field.name}}"  name="{{field.name}}" placeholder="{{field.label}}" {% if field.isrequired %}required{% endif %}>
    <div class="invalid-feedback">Veuillez renseigner un email valide</div>
</div>
{% endif %}
{% if field.type == 'case a cocher' %}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="{{field.name}}"  id="{{field.name}}" {% if field.isrequired %}required{% endif %} >
  <label class="form-check-label" for="flexCheckChecked">
    {{field.label}}
  </label>
  <div class="invalid-feedback">Votre autorisation est requise pour pouvoir traiter votre demande</div>
</div>
{% endif %}
