{% set infos = general.contactinfos %}
<footer class="container-fluid">
  <div class="mx-auto container-hd d-flex flex-row flex-wrap">
      <div class="col-12 col-md-6 footer-column">
        <h2>{{ infos.contactname }}</h2>
        <div class="footer-info">
          <div>{{ infos.address1 }}</div>
          {% if infos.address2 %}
          <div>{{ infos.address2 }}</div>
          {% endif%} {% if infos.phonenumber %}
          <div><a href="tel:{{ infos.phonenumber }}">{{ infos.phonenumber }}</a></div>
          {% endif%} {% if infos.mobilephonenumber %}
          <div><a href="tel:{{ infos.mobilephonenumber }}">{{ infos.mobilephonenumber }}</a></div>
          {% endif%}
          <div><a href="mailto:{{ infos.email }}">{{ infos.email }}</a></div>
        </div>
      </div>

      <div class="col-12 col-md-6 footer-column">
        <h2>{{ general.otherlabels.moreinfotitle }}</h2>
        <div class="footer-info">
          {% for menuitem in general.footermenu.menuitems | sort( false, true, 'order') %}
          <div>
            <a href="{{ pages[menuitem.linkedpage].url }}" title="{{ menuitem.hovertext }}">{{ menuitem.label }}</a>
          </div>
          {% endfor %} {% include "sociallinks.njk" %}
        </div>
      </div>
    <div class="row container-fluid col-12">
      <div class="copyright">{{ general.copyright.text }}</div>
    </div>
  </div>
</footer>
