{% set addAllCategory = true%}
<section class="container-fluid gallery">
    <div class="mx-auto container-hd d-flex">
    {% include "photocategorieslist.njk" %}
        <div>
            {% for photo in photos %}
                {% if currentcategory == 'all' or currentcategory == photo.category%}
            <img src="/images/thumbnails/{{photo.filename}}" alt="{{photo.name}}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mx-auto container-hd d-flex flex-wrap">   
            {% set index = 1 %}
            {% for photo in collections.photos%}
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2" item-cat="{{photo.category}}" item-index="{{index}}">
                <a href="{{photo.image}}" class="thumbnail">
                    <img src="/images/thumbnails/{{photo.filename}}" alt="{{photo.name}}" />
                </a>
            </div>
                {% set index = index + 1 %}
            {% endfor %}
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2" item-cat="portrait">
                <a href="/images/uploads/portrait_1.jpg" class="thumbnail">
                    <img src="/images/thumbnails/portrait_1.jpg" alt="Image 1" />
                </a>
            </div>
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2"  item-cat="portrait">
                <a href="/images/uploads/portrait_6.jpg" class="thumbnail">
                    <img src="/images/thumbnails/portrait_6.jpg" alt="Image 1" />
                </a>
            </div>
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2 "  item-cat="portrait">
                <a href="/images/uploads/portrait_2.jpg" class="thumbnail">
                    <img src="/images/thumbnails/portrait_2.jpg" alt="Image 1" />
                </a>
            </div>
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2 " item-cat="portrait">
                <a href="/images/uploads/portrait_3.jpg" class="thumbnail">
                    <img src="/images/thumbnails/portrait_3.jpg" alt="Image 1" />
                </a>
            </div>
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2" item-cat="portrait">
                <a href="/images/uploads/portrait_4.jpg" class="thumbnail">
                    <img src="/images/thumbnails/portrait_4.jpg" alt="Image 1" />
                </a>
            </div>
            <div class="gallery-item col-6 col-sm-4 col-md-3 col-lg-2" item-cat="portrait">
                <a href="/images/uploads/portrait_5.jpg" class="thumbnail">
                    <img src="/images/thumbnails/portrait_5.jpg" alt="Image 1" />
                </a>
            </div>
           
           
        
    </div>

    <div class="modal fade" id="ModalCarousel" tabindex="-1" role="dialog" aria-labelledby="ModalCarouselLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="carousel-gallery" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/>
                        </div>
                        <div class="carousel-item">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera"/>
                        </div>
                        <div class="carousel-item">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits"/>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-gallery" data-bs-slide="prev">
                        <div class='control-icon'>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </div>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-gallery" data-bs-slide="next">
                        <div class='control-icon'>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
