{% if pagedata.isbackgroundfullscreen %}
    {% set hclass = 'header-full-height' %}
    <header class="bg-head-{{currentpage}} header-full-height w-100 m-0 p-0">
    <div class="fader"></div>
    <div class="mx-auto container-hd">
        <nav class="row navbar navbar-dark navbar-expand-lg h-menu p-0">
            <div class="align-items-center justify-content-between d-flex">
            {% include "navmenu.njk" %}
            {% include "sociallinks.njk" %}
            {% include "logo.njk" %}
            </div>
        </nav>
        <div class="d-flex h-title align-items-center justify-content-center title-full-heigth">
        {% include "title.njk" %}
        </div>
    </div>
</header>

{% else %}
    <header class="header-normal-height w-100 m-0 p-0">
        <div class="bg-head-{{currentpage}}">
            <div class="fader"></div>
            <div class="mx-auto container-hd">
                <nav class="row navbar navbar-dark navbar-expand-lg h-menu p-0">
                    <div class="align-items-center justify-content-between d-flex">
                    {% include "navmenu.njk" %}
                    {% include "sociallinks.njk" %}
                    {% include "logo.njk" %}
                    </div>
                </nav>
                </div>
        </div>
        <div class="d-flex h-title align-items-center justify-content-center title-normal-heigth">
            {% include "title.njk" %}
        </div>
    </header>
{% endif%}


