{% if pagedata.isbackgroundfullscreen %}
    <header class="bg-head-full-{{currentpage}}">
        <div>
            {% include "navmenu.njk" %}
            {% include "sociallinks.njk" %}
            {% include "logo.njk" %}
        </div>
        {% include "title.njk" %}
    </header>
{% else %}
    <header class="bg-head-{{currentpage}}">
        <div>
            {% include "navmenu.njk" %}
            {% include "sociallinks.njk" %}
            {% include "logo.njk" %}
        </div>
        {% include "title.njk" %}
    </header>
{% endif %}

