{% set page = general.logo.linkedpage %}
<div class="nav-brand col-4 col-lg-2 d-flex justify-content-end p-0">
    <a href="{{pages[page].url }}" title="{{general.logo.hovertext}}" >
        <img src="{{general.logo.image}}" alt="logo Charles Cantin">
    </a>
</div>