<div class="col-2 col-lg-5 d-flex">
<input class="menu-toggle" type="checkbox" id="menu-toggle"/>
<label class="hamb" for="menu-toggle"><span class="hamb-line"></span></label>

<!-- Menu -->
<div class="menu-wrapper">
    <div class="menu d-flex">
        {% for menuitem in general.navbar.menuitems | sort( false, true, 'order') %}
            {% if currentpage ==  menuitem.linkedpage %}
                {% set currentclass = "active" %}
            {% else %}
                {% set currentclass = "" %}
            {% endif %}
        <div class="menu-item">
            <a href="{{pages[menuitem.linkedpage].url}}" title="{{menuitem.hovertext}}" class="nav-link {{currentclass}}">{{menuitem.label}}</a>
        </div>
    {% endfor %}
    </div>
</div>
</div>


