<ul>
{% for category in collections.photocategories | sort( false, true, 'order') | selectattr("isvisible") %}
    <li data-code="{{category.code}}">{{category.label}}</li>
{% endfor %}
{% if addAllCategory %}
    <li data-code="all">{{general.otherlabels.allcategories}}</li>
{% endif %}
</ul>