<div>
  <img src="{{prestation.image}}" alt="{{prestation.label}}" />
  <h2>{{prestation.label}}</h2>
  <p>{{prestation.description}}</p>
  {% if prestation.pricenote != ''%}
  <p>* {{prestation.pricenote}}</p>
  {% endif%}
  <div>
    <a href="{{pages[prestation.actionlinkedpage].url}}" title="{{prestation.actionhovertext}}">{{prestation.actiontext}}</a>
  </div>
  <div>
  {% if prestation.tailormadeprice%}
    {{general.otherlabels.tailormadeprice}}
  {% else %}
    {{prestation.price}} €
  {% endif %}
  {% if prestation.pricenote != '' %}
    *
  {% endif%}

  </div>
</div>
