<div class="arrow-scroll">
    <svg xmlns="http://www.w3.org/2000/svg" width="57.347" height="49.277" viewBox="0 0 57.347 49.277" class="arrow-icon arrow-animated arrow-bounce">
        <g id="slide" transform="translate(-566.998 -781.533)" opacity="0.659">
            <line id="ligne-a-1" data-name="ligne-a-1" x2="40" transform="matrix(0.643, 0.766, -0.766, 0.643, 569.816, 797.351)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="4"/>
            <line id="ligne-a-2" data-name="ligne-a-2" x2="40" transform="matrix(-0.643, 0.766, -0.766, -0.643, 621.528, 797.351)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="4"/>
            <line id="ligne-b-1" data-name="ligne-b-1" x2="20" transform="matrix(0.643, 0.766, -0.766, 0.643, 581.816, 784.351)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="4"/>
            <line id="ligne-b-2" data-name="ligne-b-2" x2="20" transform="matrix(-0.643, 0.766, -0.766, -0.643, 607.672, 784.351)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="4"/>
        </g>
    </svg>

</div>