<div class="menu d-flex col-6 col-lg-5 social-networks">
{% for link in general.sociallinks.socialnetworks | sort( false, true, 'order') %}
    <div class="menu-item">
        <a href="{{link.url}}" target="_blank" title="{{link.hovertext}}" class="nav-link"><span  alt="{{link.label}}" class="social-icon icon-{{link.socialnetwork}}-logo"></span></a>
    </div>
{% endfor %}
</div>