<div class="navbar-nav me-auto  col-hd-2 col-4 col-lg-2 social-networks justify-content-center">
{% for link in general.sociallinks.socialnetworks | sort( false, true, 'order') %}
    <div class="nav-item ms-3">
        <a href="{{link.url}}" title="{{link.hovertext}}" class="nav-link"><span  alt="{{link.label}}" class="social-icon icon-{{link.socialnetwork}}-logo"></span></a>
    </div>
{% endfor %}
</div>