{% set section = sections.contactform%}
<section class="container-fluid gallery contact-section">
    <div class="mx-auto container-hd justify-content-center align-items-center d-flex flex-column">
        <div class="contact-text d-flex flex-column justify-content-center">
        {{ section.successtext | md | safe }}
        </div>
  </div>
</section>