{% if pagedata.subtitle != '' %}
    <h1 class="text-center">{{pagedata.title}} <span style = "display: block;">{{pagedata.subtitle}}</span></h1>
{% else %}
    <h1>{{pagedata.title}}</h1>
{% endif %}