@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$col-dark: #2b2d2f;
$col-dark-lighter: #5f6973;
$col-dark-lightest: #939699;
$col-light: #ffffff;
$col-brand-darker: #172533;
$col-brand: #2e465d;
$col-brand-lighter: #436789;

$primary: $col-brand;
$secondary: $col-brand-darker;
$light: $col-light;
$dark: $col-dark;

$theme-colors: (
  primary: $col-brand,
  secondary: $col-brand-darker,
  dark: $col-dark,
  light: $col-light,
  brand-lighter: $col-brand-lighter,
  dark-lighter: $col-dark-lighter,
  dark-lightest: $col-dark-lightest,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  hd: 1600px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  hd: 1600px,
);

$modal-backdrop-opacity: 0.75;

$font-family-sans-serif: Oxygen, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';
