@font-face {
  font-family: 'Lato';
  font-weight: regular;
  src: url('/fonts/Oxygen-Regular.woff2') format('woff2'), url('/fonts/Oxygen-Regular.woff') format('woff'), url('/fonts/Oxygen-Regular.ttf') format('truetype'), weight(normal);
  src: url('/fonts/Oxygen-Light.woff2') format('woff2'), url('/fonts/Oxygen-Light.woff') format('woff'), url('/fonts/Oxygen-Light.ttf') format('truetype'), weight(normal);
  src: url('/fonts/Oxygen-Bold.woff2') format('woff2'), url('/fonts/Oxygen-Bold.woff') format('woff'), url('/fonts/Oxygen-Bold.ttf') format('truetype'), weight(normal);
}
