/*

#bootstrap-gallery .modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#bootstrap-gallery .modal-content {
  border-radius: 0px;
  border: none;
}

#bootstrap-gallery .modal-header {
  padding: 5px 10px;
  display: block;
}

#bootstrap-gallery .modal-body {
  padding: 0;
}

#bootstrap-gallery .modal-body img {
  width: 100%;
}

#bootstrap-gallery .modal-body .carousel-control {
  background-image: none;
}

#bootstrap-gallery .modal-header a.modal-button {
  float: right;
  font-size: 18px;
  line-height: 1;
  color: #cccccc;
  margin-left: 5px;
}

#bootstrap-gallery .modal-header a.modal-button:hover {
  text-decoration: none;
  color: #808080;
}

#bootstrap-gallery .carousel-control-prev i,
#bootstrap-gallery .carousel-control-next i {
  font-size: 2em;
}
*/
.gallery {
  margin-bottom: 40px;
  min-height: calc(100vh - #{$menu-height}px - #{$title-height}px);

  .gallery-wrapper {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include media-breakpoint-up(hd) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .img-thumbnail {
    object-fit: cover;
    object-position: center center;
    height: 100px;
    @include media-breakpoint-up(md) {
      height: 150px;
    }
    width: 100%;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 4px rgba($col-dark, 0.4);
    &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
      box-shadow: 2px 2px 10px rgba($col-dark, 0.5);
    }
  }

  .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }
  #carousel-gallery {
    display: flex;
    justify-content: center;
  }
  .gallery-item {
    display: none;
  }

  .modal-content {
    background-color: transparent;
    border: none;
  }

  .carousel-inner {
    position: initial;
    //overflow: visible;
    width: 80%;
    align-self: center;
    display: flex;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
  }
  .carousel {
    position: initial;
    overflow: hidden;
    background-color: transparent;
  }
  .carousel-fade .carousel-item {
    transition: all 2s ease-in-out;
    align-self: center;
  }

  .carousel .carousel-item img {
    width: 100%;
    max-height: 200px;
    @include media-breakpoint-up(sm) {
      max-height: 300px;
    }
    @include media-breakpoint-up(md) {
      max-height: 400px;
    }
    @include media-breakpoint-up(lg) {
      max-height: 600px;
    }
    @include media-breakpoint-up(xl) {
      max-height: 800px;
    }
    @include media-breakpoint-up(xxl) {
      max-height: 900px;
    }

    object-fit: contain;
    height: auto;
  }
  .control-icon {
    border-radius: 50%;
    background-color: rgba($col-dark, 0.5);
    padding: 5px;
    display: inline-block;
  }
}

/*Close Icon */
.close {
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 40px;
  padding: 10px 10px;
  pointer-events: auto;
  width: 10vw;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  z-index: 2000;

  .close-line {
    cursor: pointer;

    background: transparent;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

    &::before,
    &::after {
      background: rgba($col-light, 0.5);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }
    &::before {
      top: 5px;
      transform: rotate(-45deg);
      top: 0;
    }
    &::after {
      top: -5px;
      transform: rotate(45deg);
      top: 0;
    }
  }
  &:hover {
    .close-line {
      &::before,
      &::after {
        background: $col-light;
      }
    }
  }
}
