/* Menu icon */

.animated-icon-menu {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon-menu span {
  background: $col-light;
}

.animated-icon-menu span:nth-child(1) {
  top: 0px;
}

.animated-icon-menu span:nth-child(2) {
  top: 10px;
}

.animated-icon-menu span:nth-child(3) {
  top: 20px;
}

.animated-icon-menu.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.animated-icon-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon-menu.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}
