.menu-wrapper {
  width: 0px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 0px;
  background-color: $col-brand;
  opacity: 0;
  overflow: hidden;
  z-index: 50;
  justify-content: center;
  transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out 0.3s;
  display: flex;
  align-items: center;

  .menu {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  &:hover {
    transform: scale(1.1);
  }
}

.hamb-line {
  background: $col-light;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  z-index: 200;

  &::before,
  &::after {
    background: $col-light;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  &::before {
    top: 5px;
  }
  &::after {
    top: -5px;
  }
}

/* toggle menu */
.menu-toggle {
  display: none;
  position: relative;
}

.menu-toggle:checked ~ .menu-wrapper {
  width: 100vw;
  opacity: 1;
  transition: width 0.5s ease-in-out, opacity 0.1s ease-in-out;
}
/* Toggle menu icon */
.menu-toggle:checked ~ .hamb {
  z-index: 100;
  .hamb-line {
    background: transparent;
    &::before {
      transform: rotate(-45deg);
      top: 0;
    }
    &::after {
      transform: rotate(45deg);
      top: 0;
    }
  }
}

.menu-item {
  position: relative;

  .nav-link {
    font-size: 18px;
    font-weight: 300;
    color: $col-light;
    border-bottom: 2px solid transparent;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $col-light;
    &:hover:not(.active) {
      transform: scale(1.1);
    }
    &.active {
      border-bottom: 2px solid $col-light;
    }
  }
}

/* Responsiveness */
@include media-breakpoint-up(lg) {
  .menu-wrapper {
    position: relative;
    background-color: transparent;
    opacity: 1;
    height: auto;
    align-items: center;
    justify-items: start;
    width: 100%;
    transition: none;
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: initial;
      width: 100%;
    }
  }

  .hamb {
    display: none;
  }
}
