@import 'icons';
@import 'font';
@import 'customBS';

$menu-height: 180;
$title-height: 100;

$offset-title: $menu-height * 1.5;

.nav-brand img {
  height: 150px;
}
.social-icon {
  height: 18px;
}

.header-full-height {
  height: 100vh;
  position: relative;
}
.fader {
  height: #{$menu-height}px;
  width: 100%;
  background-color: rgba($col-dark, 0.3);
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-normal-height {
  height: calc(#{$menu-height}px + #{$title-height});
}
.h-menu {
  height: #{$menu-height}px;
}
.title-full-heigth {
  height: calc(100vh - #{$offset-title}px);
}
.title-normal-heigth {
  height: #{$title-height}px;
}
h1 {
  margin: auto;
  font-size: 36px;

  .subtitle {
    display: block;
    font-size: 18px;
    letter-spacing: 0.3em;
    font-weight: 100;
    margin-top: 1em;
    margin-left: 0.3em;
    text-align: center;
  }
}
h2 {
  margin: auto;
  font-size: 24px;
}

header {
  color: $col-light;
  .title-normal-heigth {
    color: $col-dark;
    font-weight: bold;
  }
}

@import 'menu';
.social-networks {
  justify-content: center;
  &.menu {
    flex-direction: row;
  }

  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.social-icon {
  font-size: 18px;
  color: $col-light;
}

.bg-head-accueil {
  background-image: url('/images/uploads/background-accueil.jpg');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

@import 'footer';
@import 'about';
@import 'gallery';
@import 'services';
@import 'contact';
