@import 'icons';
@import 'font';
@import 'customBS';

$menu-height: 200;
$title-height: 100;

$offset-title: $menu-height * 1.5;

.nav-brand img {
  height: 150px;
}
.social-icon {
  height: 18px;
}

.header-full-height {
  height: 100vh;
  position: relative;

  .fader {
    height: 200px;
    width: 100%;
    background-color: rgba($col-dark, 0.25);
    top: 0px;
    left: 0px;
    position: absolute;
  }
}
.header-normal-height {
  height: 300px;
  .fader {
    height: 300px;
    width: 100%;
    background-color: rgba($col-dark, 0.35);
  }
}
.h-menu {
  height: #{$menu-height}px;
}
.title-full-heigth {
  height: calc(100vh - #{$offset-title}px);
}
.title-normal-heigth {
  height: #{$title-height}px;
}
h1 {
  margin: auto;
  font-size: 36px;

  .subtitle {
    display: block;
    font-size: 18px;
    letter-spacing: 0.3em;
    font-weight: 100;
    margin-top: 1em;
    margin-left: 0.3em;
    text-align: center;
  }
}
header {
  color: $col-light;
}

.navbar-nav > div {
  position: relative;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 18px;
  color: $col-light;
  &.active {
    &::after {
      border-bottom: 2px solid $col-light;
      bottom: -2px;
      content: ' ';
      left: 0;
      position: absolute;
      right: 0;
      margin-right: $spacer * 0.25;
      margin-left: $spacer * 0.25;
    }
  }
}

.social-networks {
  &.navbar-nav {
    flex-direction: row;
  }
}
.social-icon {
  font-size: 18px;
}

@import 'menu';

.bg-head-accueil {
  background-image: url('/images/uploads/background-accueil.jpg');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border: 0px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.collapse.show {
  position: absolute;
  left: 0px;
  top: 16px;
  width: 100vw;
  height: 100vh;
}
.menu-wrapper {
  position: relative;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
}
/*

.wrapper {
  min-width: 300px;
  min-height: 360px;
  height: 100vh;
  width: 100vw;
  @media (min-width: 600px) and (min-height: 400px) {
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
  }
}

.current {
  background-color: $light;
}

.game-row-1 {
  height: 50px;
  @media (min-height: 600px) {
    height: 80px;
  }
}
.game-row-2 {
  height: 40px;
  @media (min-height: 600px) {
    height: 80px;
  }
}
.game-row-3 {
  height: calc(55% - 90px);
  @media (min-height: 600px) {
    height: calc(50% - 110px);
  }
}
.game-row-4 {
  height: 40px;
  @media (min-height: 600px) {
    height: 80px;
  }
}
.game-row-5 {
  height: calc(45% - 40px);
  @media (min-height: 600px) {
    height: calc(50% - 160px);
    margin-bottom: 30px;
  }
}

.player-global-score {
  font-size: 80px;
}
.current-score-box {
  width: 110px;
  height: 80px;
}

#player1.current h2::after,
#player2.current h2::after {
  content: '\f287';
  display: inline-block;
  font-family: bootstrap-icons;
  font-size: 16px;
  padding-left: 10px;
  align-self: center;
  color: $primary;
}
#player1:not(.current) h2,
#player2:not(.current) h2 {
  color: $gray-500;
  font-weight: lighter;
}

button.action {
  border: none;
  background-color: transparent;
  color: $primary;
  font-weight: 300;
  span {
    color: $dark;
  }
  &:disabled {
    span {
      color: $gray-400;
    }
  }
}
@media (hover: hover) {
  button.action:hover:not(:disabled) {
    transform: scale(1.1, 1.1);
  }
}
*/
