backend:
  name: git-gateway
  branch: main
  repo: pablitzer/CharlesCantin
  site_domain: cms.netlify.com
  base_url: cms.netlify.com
  auth_endpoint: auth

locale: 'fr'

publish_mode: editorial_workflow

media_folder: '/images/uploads' # Media files will be stored in the repo under images/uploads
public_folder: '/images/uploads' # The src attribute for uploaded media will begin with /images/uploads

site_url: https://endearing-chebakia-e2b5f2.netlify.app/

logo_url: https://endearing-chebakia-e2b5f2.netlify.app/images/logo.png

collections:
  - name: 'categoriephoto'
    label: 'catégories de photo'
    folder: 'configuration/photocategory'
    create: true
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    fields:
      - { label: 'Code', name: title', widget: 'string' }
      - { label: 'libellé', name: 'label', widget: 'string' }
  - name: 'post' # Used in routes, e.g., /admin/collections/blog
    label: 'Post' # Used in the UI
    folder: 'post' # The path to the folder where the documents are stored  - **
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md - **
    extension: 'md'
    format: 'frontmatter'
    fields: # The fields for each document, usually in front matter
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'layouts/post.njk' } # -** can use blog template alias optionally if you set it up previously
      - { label: 'Tags', name: 'tags', widget: 'hidden', default: 'blog' } # - ** - This is optional
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Featured Image', name: 'thumbnail', widget: 'image' }
      - { label: 'Rating (scale of 1-5)', name: 'rating', widget: 'number' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
