backend:
  name: git-gateway
  branch: main
  repo: pablitzer/CharlesCantin
  site_domain: cms.netlify.com
  base_url: cms.netlify.com
  auth_endpoint: auth

locale: 'fr'

publish_mode: editorial_workflow

media_folder: '/images/uploads' # Media files will be stored in the repo under images/uploads
public_folder: '/images/uploads' # The src attribute for uploaded media will begin with /images/uploads

site_url: https://endearing-chebakia-e2b5f2.netlify.app/

logo_url: https://endearing-chebakia-e2b5f2.netlify.app/images/logo.png

collections:
  - name: 'categoriesphoto'
    label: 'catégories de photo'
    folder: 'configuration/photocategories'
    create: true
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    identifier_field: 'code'
    fields:
      - label: 'Code'
        name: 'code'
        widget: 'string'
      - label: 'libellé'
        name: 'label'
        widget: 'string'
      - label: 'description'
        name: 'description'
        widget: 'string'

  - name: 'photos'
    label: 'photographies'
    folder: 'configuration/photo'
    create: true
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    fields:
      - label: 'image'
        name: 'image'
        widget: 'image'
      - label: 'catégorie'
        name: 'category'
        widget: 'relation'
        collection: categoriesphoto
        searchFields: ['label']
        valueField: 'code'

  - name: 'pages'
    label: 'pages du site'
    folder: 'configuration/pages'
    create: true
    delete: false
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    identifier_field: 'name'
    fields:
      - label: 'nom'
        name: 'name'
        widget: 'hidden'
      - label: 'titre'
        name: 'title'
        widget: 'string'
      - label: 'sous-titre'
        name: 'subtitle'
        widget: 'string'
        required: false
        default: ''
      - label: 'titre référencement'
        name: 'reftitle'
        widget: 'string'
      - label: 'description référencement'
        name: 'refdescription'
        widget: 'string'
      - label: 'image de fond'
        name: 'backgroundimage'
        widget: 'image'

  - name: 'generalconfiguration'
    label: 'configuration générale'
    files:
      - label: 'logo'
        name: 'logo'
        file: 'configuration/general/logo.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'image'
            name: 'image'
            widget: 'image'
          - label: 'texte de survol'
            name: 'hovertext'
            widget: 'string'
          - label: 'page de lien'
            name: 'linkedpage'
            widget: 'relation'
            collection: 'pages'
            searchFields: ['title']
            valueField: 'name'
            default: 'accueil'
      - label: 'copyright'
        name: 'copyright'
        file: 'configuration/general/copyright.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'texte'
            name: 'text'
            widget: 'string'
      - label: 'menu de navigation'
        name: 'navigation'
        file: 'configuration/general/navbar.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'choix du menu'
            name: 'menuitems'
            widget: 'list'
            summary: '{{fields.label}}'
            allow_add: true
            collapsed: true
            fields:
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'
              - label: 'libellé'
                name: 'label'
                widget: 'string'
              - label: 'texte de survol'
                name: 'hovertext'
                widget: 'string'
              - label: 'page de lien'
                name: 'linkedpage'
                widget: 'relation'
                collection: 'pages'
                searchFields: ['title']
                valueField: 'name'
      - label: 'menu de pied de page'
        name: 'footermenu'
        file: 'configuration/general/footermenu.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'choix du menu'
            name: 'menuitems'
            widget: 'list'
            summary: '{{fields.label}}'
            allow_add: true
            collapsed: true
            fields:
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'
              - label: 'libellé'
                name: 'label'
                widget: 'string'
              - label: 'texte de survol'
                name: 'hovertext'
                widget: 'string'
              - label: 'page de lien'
                name: 'linkedpage'
                widget: 'relation'
                collection: 'pages'
                searchFields: ['title']
                valueField: 'name'
      - label: 'liens de réseaux sociaux'
        name: 'sociallinks'
        file: 'configuration/general/sociallinks.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'réseaux sociaux'
            name: 'socialnetworks'
            widget: 'list'
            summary: '{{fields.label}}'
            allow_add: true
            collapsed: true
            fields:
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'
              - label: 'libellé'
                name: 'label'
                widget: 'string'
              - label: 'texte de survol'
                name: 'hovertext'
                widget: 'string'
              - label: 'url du lien social'
                name: 'url'
                widget: 'string'
              - label: 'logo du réseau réseau social (fichier svg)'
                name: logo
                widget: 'image'
      - label: 'informations de contact'
        name: 'contactinfos'
        file: 'configuration/general/contactinfos.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'nom de contact'
            name: 'contactname'
            widget: 'string'
          - label: 'Adresse ligne 1'
            name: 'address1'
            widget: 'string'
          - label: 'Adresse ligne 2'
            name: 'address2'
            widget: 'string'
          - label: 'numéro de téléphone'
            name: 'phonenumber'
            widget: 'string'
          - label: 'e-mail'
            name: 'email'
            widget: 'string'
