backend:
  name: git-gateway
  branch: main
  repo: pablitzer/CharlesCantin
  site_domain: cms.netlify.com
  base_url: cms.netlify.com
  auth_endpoint: auth

locale: 'fr'

publish_mode: editorial_workflow

media_folder: '/images/uploads' # Media files will be stored in the repo under images/uploads
public_folder: '/images/uploads' # The src attribute for uploaded media will begin with /images/uploads

site_url: https://endearing-chebakia-e2b5f2.netlify.app/

logo_url: /images/uploads/logo_admin.png

collections:
  - name: 'categoriesphoto'
    label: 'catégories de photo'
    folder: 'configuration/photocategories'
    create: true
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    identifier_field: 'code'
    fields:
      - label: 'Code'
        name: 'code'
        widget: 'string'
      - label: 'libellé'
        name: 'label'
        widget: 'string'
      - label: 'description'
        name: 'description'
        widget: 'string'
      - label: 'catégorie affichée dans la galerie?'
        name: 'isvisible'
        widget: 'boolean'
        default: true

  - name: 'photos'
    label: 'photographies'
    folder: 'configuration/photo'
    create: true
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    identifier_field: 'name'
    fields:
      - label: 'nom (unique)'
        name: 'name'
        widget: 'string'
      - label: 'image'
        name: 'image'
        widget: 'image'
      - label: 'catégorie'
        name: 'category'
        widget: 'relation'
        collection: categoriesphoto
        searchFields: ['label']
        valueField: 'code'

  - name: 'pages'
    label: 'pages du site'
    folder: 'configuration/pages'
    create: true
    delete: false
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    identifier_field: 'name'
    fields:
      - label: 'nom'
        name: 'name'
        widget: 'hidden'
      - label: 'titre'
        name: 'title'
        widget: 'string'
      - label: 'sous-titre'
        name: 'subtitle'
        widget: 'string'
        required: false
        default: ''
      - label: 'titre référencement'
        name: 'reftitle'
        widget: 'string'
      - label: 'description référencement'
        name: 'refdescription'
        widget: 'string'
      - label: 'image de fond'
        name: 'backgroundimage'
        widget: 'image'

  - name: 'sections'
    label: 'configuration des sections de page'
    files:
      - label: 'section à propos'
        name: 'aboutsection'
        file: 'configuration/sections/about.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'titre de section'
            name: 'title'
            widget: 'string'
          - label: 'image'
            name: 'image'
            widget: 'image'
          - label: 'légende image'
            name: 'imagecaption'
            widget: 'string'
          - label: 'texte'
            name: 'text'
            widget: 'markdown'
          - label: "texte du bouton d'action"
            name: 'actiontext'
            widget: 'string'
          - label: "texte de survol du bouton d'action"
            name: 'actionhovertext'
            widget: 'string'
          - label: "page de lien du bouton d'action"
            name: 'actionlinkedpage'
            widget: 'relation'
            collection: 'pages'
            searchFields: ['title']
            valueField: 'name'
      - label: 'section galerie de photo'
        name: 'gallerysection'
        file: 'configuration/sections/gallery.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: "texte de détail d'image"
            name: 'detaildisplaytext'
            widget: 'string'
          - label: 'catégorie sélectionnée (Toutes par défaut)'
            name: 'category'
            widget: 'relation'
            collection: categoriesphoto
            searchFields: ['label']
            valueField: 'code'
            required: false
          - label: 'texte de survol des miniatures'
            name: 'thumbnailhovertext'
            widget: 'string'
          - label: 'texte de survol du bouton image suivante'
            name: 'nexthovertext'
            widget: 'string'
          - label: 'texte de survol du bouton image précédente'
            name: 'prevhovertext'
            widget: 'string'
          - label: 'texte de survol du bouton fermeture détail'
            name: 'closehovertext'
            widget: 'string'
      - label: 'section formulaire de contact'
        name: 'contactformsection'
        file: 'configuration/sections/contactform.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'texte en entête du formulaire'
            name: 'text'
            widget: 'markdown'
          - label: 'texte du bouton envoyer'
            name: 'actiontext'
            widget: 'string'
          - label: 'texte de survol du bouton envoyer'
            name: 'actionhovertext'
            widget: 'string'
          - label: "message de confirmation d'envoi"
            name: 'successtext'
            widget: 'string'
          - label: "message d'échec d'envoi"
            name: 'errortext'
            widget: 'string'
          - label: 'configuration des champs'
            name: 'fieldconfiguration'
            widget: 'list'
            fields:
              - label: 'nom du champ'
                name: 'fieldname'
                widget: 'string'
                pattern: ['[A-Za-z0-9]', 'le nom du champ ne peut contenir que des lettres et des chiffres sans espace']
              - label: 'libellé du champ'
                name: 'label'
                widget: 'string'
              - label: 'champ obligatoire'
                name: 'isrequired'
                widget: 'boolean'
                default: true
              - label: 'type du champ'
                name: 'type'
                widget: 'select'
                options: ['texte multi-lignes', 'texte mono-ligne', 'email', 'telephone', 'case a cocher']
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'

  - name: 'generalconfiguration'
    label: 'configuration générale'
    files:
      - label: 'logo'
        name: 'logo'
        file: 'configuration/general/logo.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'image'
            name: 'image'
            widget: 'image'
          - label: 'texte de survol'
            name: 'hovertext'
            widget: 'string'
          - label: 'page de lien'
            name: 'linkedpage'
            widget: 'relation'
            collection: 'pages'
            searchFields: ['title']
            valueField: 'name'
            default: 'accueil'
      - label: 'copyright'
        name: 'copyright'
        file: 'configuration/general/copyright.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'texte'
            name: 'text'
            widget: 'string'
      - label: 'menu de navigation'
        name: 'navigation'
        file: 'configuration/general/navbar.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'choix du menu'
            name: 'menuitems'
            widget: 'list'
            summary: '{{fields.label}}'
            allow_add: true
            collapsed: true
            fields:
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'
              - label: 'libellé'
                name: 'label'
                widget: 'string'
              - label: 'texte de survol'
                name: 'hovertext'
                widget: 'string'
              - label: 'page de lien'
                name: 'linkedpage'
                widget: 'relation'
                collection: 'pages'
                searchFields: ['title']
                valueField: 'name'
      - label: 'menu de pied de page'
        name: 'footermenu'
        file: 'configuration/general/footermenu.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'choix du menu'
            name: 'menuitems'
            widget: 'list'
            summary: '{{fields.label}}'
            allow_add: true
            collapsed: true
            fields:
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'
              - label: 'libellé'
                name: 'label'
                widget: 'string'
              - label: 'texte de survol'
                name: 'hovertext'
                widget: 'string'
              - label: 'page de lien'
                name: 'linkedpage'
                widget: 'relation'
                collection: 'pages'
                searchFields: ['title']
                valueField: 'name'
      - label: 'liens de réseaux sociaux'
        name: 'sociallinks'
        file: 'configuration/general/sociallinks.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'réseaux sociaux'
            name: 'socialnetworks'
            widget: 'list'
            summary: '{{fields.label}}'
            allow_add: true
            collapsed: true
            fields:
              - label: 'ordre affichage'
                name: 'order'
                widget: 'number'
                value_type: 'int'
              - label: 'libellé'
                name: 'label'
                widget: 'string'
              - label: 'texte de survol'
                name: 'hovertext'
                widget: 'string'
              - label: 'url du lien social'
                name: 'url'
                widget: 'string'
              - label: 'logo du réseau réseau social (fichier svg)'
                name: logo
                widget: 'image'
      - label: 'informations de contact'
        name: 'contactinfos'
        file: 'configuration/general/contactinfos.json'
        extension: 'json'
        format: 'json'
        fields:
          - label: 'nom de contact'
            name: 'contactname'
            widget: 'string'
          - label: 'Adresse ligne 1'
            name: 'address1'
            widget: 'string'
          - label: 'Adresse ligne 2'
            name: 'address2'
            widget: 'string'
          - label: 'numéro de téléphone fixe'
            name: 'phonenumber'
            widget: 'string'
            required: false
          - label: 'numéro de téléphone mobile'
            name: 'mobilephonenumber'
            widget: 'string'
            required: false
          - label: 'e-mail'
            name: 'email'
            widget: 'string'

  - name: 'prestations'
    label: 'prestations'
    folder: 'configuration/prestations'
    create: true
    delete: true
    extension: 'json'
    format: 'json'
    slug: '{{slug}}'
    identifier_field: 'name'
    fields:
      - label: "ordre d'affichage"
        name: 'order'
        widget: 'number'
        value_type: 'int'
        required: true
      - label: 'nom'
        name: 'name'
        widget: 'string'
      - label: 'libellé'
        name: 'label'
        widget: 'string'
      - label: 'description'
        name: 'description'
        widget: 'string'
      - label: 'note complémentaire sur tarif'
        name: 'pricenote'
        widget: 'string'
        required: false
      - label: 'tarif sur mesure'
        name: 'tailormadeprice'
        widget: 'boolean'
        required: false
      - label: 'tarif'
        name: 'price'
        widget: 'number'
        value_type: 'float'
        min: 1
        required: false
      - label: "image d'illustration"
        name: 'image'
        widget: 'image'
      - label: "texte du bouton d'action"
        name: 'actiontext'
        widget: 'string'
      - label: "texte de survol du bouton d'action"
        name: 'actionhovertext'
        widget: 'string'
      - label: "page de lien du bouton d'action"
        name: 'actionlinkedpage'
        widget: 'relation'
        collection: 'pages'
        searchFields: ['title']
        valueField: 'name'
