<html lang="fr">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{pagedata.refdescription}}">
      <title>{{pagedata.reftitle}}</title>
    </head>
    <body>
      {% block header %}
        {% include "header.njk" %}
      {% endblock %}
      {% block main %}
      {% endblock %}
      {% block footer %}
        {% include "footer.njk" %}
      {% endblock %}
      {% block script %}
      {% endblock %}
      <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
      </script>
    </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>